@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #111827;
    color: #F9FAFB;
    font-family: 'Inter', sans-serif;
}

/* Custom scrollbar for the new dark theme */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1F2937;
}

::-webkit-scrollbar-thumb {
    background: #4B5563;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #34D399;
}
